{% extends 'base.html' %}

{% block content %}

<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container">
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active me-2" aria-current="page" href="{% url 'data' %}"><h4>OSIS</h4></a>
        </li>
        <li class="nav-item">
          <a class="nav-link me-3" aria-current="page" href="{% url 'mpk' %}"><h4>MPK</h4></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'logout' %}">
            <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-box-arrow-in-left" viewBox="0 0 16 16">
              <path fill-rule="evenodd" d="M10 3.5a.5.5 0 0 0-.5-.5h-8a.5.5 0 0 0-.5.5v9a.5.5 0 0 0 .5.5h8a.5.5 0 0 0 .5-.5v-2a.5.5 0 0 1 1 0v2A1.5 1.5 0 0 1 9.5 14h-8A1.5 1.5 0 0 1 0 12.5v-9A1.5 1.5 0 0 1 1.5 2h8A1.5 1.5 0 0 1 11 3.5v2a.5.5 0 0 1-1 0v-2z"/>
              <path fill-rule="evenodd" d="M4.146 8.354a.5.5 0 0 1 0-.708l3-3a.5.5 0 1 1 .708.708L5.707 7.5H14.5a.5.5 0 0 1 0 1H5.707l2.147 2.146a.5.5 0 0 1-.708.708l-3-3z"/>
            </svg>
          </a>
        </li>
      </ul>
    </div>
  </div>
</nav>

<div class="container">
  <div class="row">
    <div class="col-md-12">
      <h4>
        <center>DATA PENGURUS OSIS</center>
        <center>
          <img src="/static/img/osis.jpeg" alt="" width="50px" height="55px">
        </center>
      </h4>

      <center>
        {% if user.is_authenticated %}
          <p class="text-secondary">halo,<strong>  {{ user }} ^~^</strong></p>
        {% endif %}
      </center> <br>
      <a href="{% url 'export_xls' %}" class="btn btn-success mb-3">Export.xls</a>

      {% for message in messages %}
        {% if message %}
          <div class="alert alert-success">{{ message }}</div>
        {% endif %}
      {% endfor %}
    <div class="card-body table-responsive p-0">
      <table class="table table-bordered table-striped">
        <thead>
          <tr>
            <th>Foto</th>
            <th>Nama</th>
            <th>Kelas</th>
            <th>Jabatan</th>
            <th>Program Kerja</th>
            <th>Action</th>
          </tr>
        </thead>
        <tbody>
          {% for data in dataa %}
          <tr>
            <td>
              {% if data.cover %}
                <img src="{{ data.cover.url }}" width="90px">
              {% endif %}
            </td>
            <td><a href="{% url 'ubah_data' data.id %}">{{ data.nama }}</a></td>
            <td>{{ data.kelas }}</td>
            <td>{{ data.jabatan }}</td>
            <td>{{ data.proker }}</td>
            <td>
              <!-- <button type="button" data-toggle="modal" data-target="#hapus-{{ data.id }}" class="btn btn-danger">Hapus</button> -->
              <!-- Button trigger modal -->
              <button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#hapus-{{ data.id }}">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash3" viewBox="0 0 16 16">
                  <path d="M6.5 1h3a.5.5 0 0 1 .5.5v1H6v-1a.5.5 0 0 1 .5-.5ZM11 2.5v-1A1.5 1.5 0 0 0 9.5 0h-3A1.5 1.5 0 0 0 5 1.5v1H2.506a.58.58 0 0 0-.01 0H1.5a.5.5 0 0 0 0 1h.538l.853 10.66A2 2 0 0 0 4.885 16h6.23a2 2 0 0 0 1.994-1.84l.853-10.66h.538a.5.5 0 0 0 0-1h-.995a.59.59 0 0 0-.01 0H11Zm1.958 1-.846 10.58a1 1 0 0 1-.997.92h-6.23a1 1 0 0 1-.997-.92L3.042 3.5h9.916Zm-7.487 1a.5.5 0 0 1 .528.47l.5 8.5a.5.5 0 0 1-.998.06L5 5.03a.5.5 0 0 1 .47-.53Zm5.058 0a.5.5 0 0 1 .47.53l-.5 8.5a.5.5 0 1 1-.998-.06l.5-8.5a.5.5 0 0 1 .528-.47ZM8 4.5a.5.5 0 0 1 .5.5v8.5a.5.5 0 0 1-1 0V5a.5.5 0 0 1 .5-.5Z"/>
                </svg>
              </button>
            </td>
            
            <!-- Modal -->
            <div class="modal fade" id="hapus-{{ data.id }}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
              <div class="modal-dialog">
                <div class="modal-content">
                  <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Hapus</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                  </div>
                  <div class="modal-body">
                    Apakah anda yakin ingin menghapus <strong>{{ data.nama | upper }}</strong>
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Tidak</button>
                    <a href="{% url 'hapus_data' data.id %}" class="btn btn-danger">Hapus</a>
                  </div>
                </div>
              </div>
            </div>
          </tr>
          {% endfor %}
        </tbody>
      </table>
      <a href="{% url 'tambah_data' %}" class="btn mb-3" style="float: right;">
        <svg xmlns="http://www.w3.org/2000/svg" width="50" height="50" fill="currentColor" class="bi bi-plus-circle-fill" viewBox="0 0 16 16">
          <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM8.5 4.5a.5.5 0 0 0-1 0v3h-3a.5.5 0 0 0 0 1h3v3a.5.5 0 0 0 1 0v-3h3a.5.5 0 0 0 0-1h-3v-3z"/>
        </svg>
      </a>
    </div>
      

    </div>
  </div>
</div>
     
{% endblock %}
